
/*-------------------------------------------------------------------------Animation Properties-------------------------------------------------------------------------*/
.card-body-stream-info{
  transition: background-color 0.4s ease;
}
.card-img:hover{
  width: 160px;
}
.card-img:hover + .card-body-stream-info .card-text{
  white-space: unset;
  overflow: visible;
}
.card-img:hover + .card-body-stream-info .started-text{
  opacity: 1;
}
.card-img{

  transition: width 0.4s ease, filter 0.4s ease;

}

.started-text{

  transition: opacity 0.4s ease;
}

