/*-------------------------------------------------------------------------Theme Color Variables-------------------------------------------------------------------------*/
 
:root{
    --background-color: #dddddd;
    --card-edge-color: #ffffff;
    --card-background-color: #f2f2f2;
    --card-highlight-color: #ffffff;
    --game-header-background-color: linear-gradient(180deg, #815cbc 0%, #6a4b9c 100%);
    --game-header-text-color:#ece3ff;
    --game-header-edge-color:#a781ff;
    --game-info-text-color:#000000;
    --game-info-subtext-color: #5e5e5e;
    --badge-color: #7248b4;
    --transition-time: 0.3s;
}


/*-------------------------------------------------------------------------Viewer Count Icon-------------------------------------------------------------------------*/

.circle {

    height: 3px;
    width: 3px;
    background: linear-gradient(180deg, #CF1212 0%, #F50909 100%);
    border-radius: 50%;
    border:1px solid #ff2121;
    display: inline-block ;
    margin: 1px 2px;

  }


/*-------------------------------------------------------------------------Scroll Bar Styling-------------------------------------------------------------------------*/

::-webkit-scrollbar { /* Width */
    width: 0px;
}

/*-------------------------------------------------------------------------Global Styling-------------------------------------------------------------------------*/


.row-stream{

  cursor: pointer;

}

*{
    font-family:'Roboto', sans-serif;
}

body{
  
    user-select: none;
    font-family:'Roboto', sans-serif;
    color: var(--game-info-text-color);
    background-color: var(--background-color); 
    margin: 0px;
    padding: 0px;
    width: 404px;
    font-size: 13px;


}

.row{
  
  width: 400px;
  display: flex;
  margin: 2px;
  
}
.row:hover .card-body-stream-info{

  background-color: var(--card-highlight-color);

}
.row:hover img{

  filter: brightness(125%) saturate(115%);
  
}
.row-game{

  background: var(--game-header-background-color);
  border-radius: 2px;
  border-top: 1px solid var(--game-header-edge-color);

}
.card-body-game-head{
  
  font-size: 0.85em;
  margin: 3px auto;
  color: var(--game-header-text-color);

}
.card-img{

  filter: brightness(100%) saturate(100%);
  display: inline-block;
  margin: 0px;
  margin-right: 2px;
  border-radius: 2px;
  background: var(--background-color);
  min-height: 45px;
  
}
.thumb{

  border-radius: 2px;
  display: block;
  width: 80px;
  
}

.card-body-stream-info{

  border-top: 1px solid var(--card-edge-color);
  background-color: var(--card-background-color);
  border-radius: 2px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;

  vertical-align: top;
  width: 100%;
  position: relative;
  display: inline-block;


}
.card-title{
  padding-top: 2px;
  font-size: 1em;
  -webkit-text-stroke: 0.1px var(--game-info-text-color);
  letter-spacing: 0.5px;
}
.card-text{
  position: absolute;
  font-size: 0.8em;
  color: var(--game-info-subtext-color);
  left: 6px;
  right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;

}

.viewers-text{

  font-size: 0.8em;
  position: absolute;
  right: 4px;
  top: 4px;
  color: var(--game-info-subtext-color);

}
.started-text{

  font-size: 0.8em;
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: var(--game-info-subtext-color);
  opacity: 0;

}
/*
.scroll-icon{
position: fixed;
width: 20px;
height: 20px;
bottom: 8px;
right: 8px;
background: #e7e7e7;
background: var(--game-header-background-color);
border-radius: 20%;
border-top: 1px solid var(--game-header-edge-color);



box-shadow: 0px 0px 10px #000000;
text-align: center;
margin: 0px;
padding: 0px;
color: #00000070;
color: var(--game-header-text-color);

font-weight: 100;
font-size: 0.9em;
line-height: 18px;
-webkit-text-stroke: 1px var(--game-header-text-color);

}
*/

.refresh-fade{
position: fixed;
width: 70px;
height: 70px;
top: 0px;
right: 0px;

background: linear-gradient(45deg, transparent 50%, var(--background-color) 100%);
background: radial-gradient(circle at top right, var(--background-color) 20%, transparent 70%);
opacity: 0;
pointer-events: none;


text-align: right;
margin: 0px;
padding-top: 5px;
padding-right: 7px;





}

.spinner{

  position: fixed;
  top: 1px;
  right: 1px;
  color: var(--game-info-text-color);
  font-weight: 100;
  font-size: 1.2em;
  pointer-events: unset;
  transform: rotate(180deg) translateZ(0px);
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  width: 14px;
  height: 14px;
  line-height: 16px;
  background: var(--card-background-color);
  border-radius: 0% 30% 0% 0%;
  border: 3px solid var(--card-background-color);
  will-change: transform; 
    -webkit-text-stroke: 0.3px var(--game-info-text-color);
  box-shadow: 0px 0px 30px var(--card-background-color),0px 0px 30px var(--card-background-color), 0px 0px 20px var(--card-background-color), 0px 0px 10px var(--card-background-color), 0px 0px 10px var(--card-background-color), 0px 0px 10px var(--card-background-color), 0px 0px 10px var(--card-background-color), 0px 0px 5px var(--card-background-color);
  
}

.spinner img{
  filter: brightness(var(--icon-brightness));
}


.scroll-icon{
position: fixed;
width: 70%;
height: 60px;
bottom: 0px;
left: 50%;
transform: translate(-50%, 0%);
background: #e7e7e7;
background: linear-gradient(180deg, transparent 10%, var(--card-background-color) 80%);
background: radial-gradient(ellipse at 50% 90%, var(--card-background-color) 15%, transparent 70%);
transition: opacity 0.4s ease;

pointer-events: none;

text-align: center;


color: #00000070;
color: var(--game-info-text-color);

font-weight: 100;
font-size: 0.8em;
line-height: 100px;
-webkit-text-stroke: 1px var(--game-info-text-color);

}

.scroll-icon img{
  filter: brightness(var(--icon-brightness));
}

.spinner:hover{

}