/*-------------------------------------------------------------------------Theme Color Variables-------------------------------------------------------------------------*/
 
 :root{
    --background-color: #e0e0e0;
    --card-background-color: #f2f2f2;
    --card-highlight-color: #ffffff;
    --game-header-background-color: linear-gradient(180deg, hsl(263, 42%, 55%) 0%, hsl(258, 25%, 43%) 100%);
    --game-header-text-color:#e9e1fa;
    --game-info-text-color:#000000;
    --game-info-subtext-color: #5e5e5e;
    --badge-color: #7248b4;
    --transition-time: 0.3s;
}


/*-------------------------------------------------------------------------Viewer Count Icon-------------------------------------------------------------------------*/

.circle {
    height: 5px;
    width: 5px;
    background: linear-gradient(180deg, #CF1212 0%, #F50909 100%);
    border-radius: 50%;
    display: inline-block ;
    margin: 1px 2px;
  }


/*-------------------------------------------------------------------------Scroll Bar Styling-------------------------------------------------------------------------*/

::-webkit-scrollbar { /* Width */
    width: 6px;
}

::-webkit-scrollbar-track { /* Track */
    background: var(--background-color);
}

::-webkit-scrollbar-thumb { /* Handle */
    border-radius: 4px;
    background: var(--card-background-color);
}

::-webkit-scrollbar-thumb:hover { /* Handle Hover */
    background:  var(--card-highlight-color);
}


/*-------------------------------------------------------------------------Global Styling-------------------------------------------------------------------------*/
.started-text{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

body{
    font-family:'Roboto', sans-serif;
    color: var(--game-info-text-color);
    background-color: var(--background-color); 
}
.container-fluid{
    width: 388px;
    margin: 2px;
    padding: 0px;

}
.col-xs-3, .col-xs-12{
    margin: 2px;
    padding: 0px;
}
.card{
    background-color: var(--card-background-color);
    border-color: var(--card-background-color);
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 1px 2px #0000002d, 0px 4px 8px #00000015; 
    
}
.card-body{
    padding: 5px;
}

.card-title{
    padding: 0px;
    margin: 0px;
    color: var(--game-info-text-color);
}
.card-text{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    color: var(--game-info-subtext-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row{
    padding:0px;
    margin:0px;
}
.row-stream:hover{
    text-decoration: none;
    cursor:pointer;
}
.row .card{
    filter: brightness(100%) saturate(110%);
} 
.row:hover .stream-info{
    background-color: var(--card-highlight-color);
    position: relative;
} 
.row:hover .stream-thumb{
    
    filter: brightness(140%) saturate(120%);
} 
/* .row:hover .card-img{
    
    filter: saturate(100%);
}  */
.col-game-head{
    width: 384px;

}
.game-head{
    font-size: 11px;
    background: var(--game-header-background-color);
    color: var(--game-header-text-color);
    height: 22px;

}
.card-body-game-head{
    text-align: center;
    margin: 4px;
    padding: 0px;
}
#user-id{
    color: var(--game-info-subtext-color);
}

.info-sub-text{
    position: absolute;
    font-size: 10px;
    color: var(--game-info-subtext-color);
}

.viewers-text{
    top: 2px;
    right: 4px;
}
.started-text{
    opacity: 0;
    bottom: 2px;
    right: 4px;
}
#stream-list *{
    pointer-events: none;
    -webkit-user-select: none;
}
#stream-list .row,#stream-list .col-stream-thumb{
    pointer-events: all;
}


/*-------------------------------------------------------------------------Options Button Animations-------------------------------------------------------------------------*/

.btn-primary{
    background: var(--game-header-background-color);
    border: 0px;
    box-shadow: 0px 1px 2px #00000025, 0px 4px 8px #00000025;
}
.btn-primary:focus, .btn-primary:hover{
    filter:brightness(140%);
}


/*-------------------------------------------------------------------------Popup Hover Default Sizes-------------------------------------------------------------------------*/

.card-img{
    width:80px;
    height: 45px;

}
.col-stream-info, .card-body-stream-info{
    width:300px;
    height: 45px;
}
.col-stream-thumb{ 
    width:80px;
    height: 45px;
} 

.card-img{
    width:80px;
    height: 45px;
}