/*-------------------------------------------------------------------------Theme Color Variables-------------------------------------------------------------------------*/
 
:root{
    --background-color: #dddddd;
    --card-edge-color: #ffffff;
    --card-background-color: #f2f2f2;
    --card-highlight-color: #ffffff;
    --game-header-background-color: linear-gradient(180deg, #815cbc 0%, #6a4b9c 100%);
    --game-header-text-color:#ece3ff;
    --game-header-edge-color:#a781ff;
    --game-info-text-color:#000000;
    --game-info-subtext-color: #5e5e5e;
    --badge-color: #7248b4;
    --transition-time: 0.3s;
}


/*-------------------------------------------------------------------------Viewer Count Icon-------------------------------------------------------------------------*/

.circle {

    height: 3px;
    width: 3px;
    background: linear-gradient(180deg, #CF1212 0%, #F50909 100%);
    border-radius: 50%;
    border:1px solid #ff2121;
    display: inline-block ;
    margin: 1px 2px;

  }


/*-------------------------------------------------------------------------Scroll Bar Styling-------------------------------------------------------------------------*/

::-webkit-scrollbar { /* Width */
    width: 0px;
}

/*-------------------------------------------------------------------------Global Styling-------------------------------------------------------------------------*/


.row-stream{

  cursor: pointer;

}

*{
    font-family:'Roboto', sans-serif;
}

body{
  
    user-select: none;
    font-family:'Roboto', sans-serif;
    color: var(--game-info-text-color);
    background-color: var(--background-color); 
    margin: 0px;
    padding: 0px;
    width: 404px;
    font-size: 13px;

}

.row{
  
  width: 400px;
  display: flex;
  margin: 2px;
  
}
.row:hover .card-body-stream-info{

  background-color: var(--card-highlight-color);

}
.row:hover img{

  filter: brightness(125%) saturate(115%);
  
}
.row-game{

  background: var(--game-header-background-color);
  border-radius: 2px;
  border-top: 1px solid var(--game-header-edge-color);

}
.card-body-game-head{

  font-size: 0.80em;
  margin: 3px auto;
  color: var(--game-header-text-color);

}
.card-img{

  filter: brightness(100%) saturate(100%);
  display: inline-block;
  margin: 0px;
  margin-right: 2px;
  border-radius: 2px;
  background: var(--background-color);
  min-height: 45px;
  
}
img{

  border-radius: 2px;
  display: block;
  width: 80px;
  
}

.card-body-stream-info{

  border-top: 1px solid var(--card-edge-color);
  background-color: var(--card-background-color);
  border-radius: 2px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;

  vertical-align: top;
  width: 100%;
  position: relative;
  display: inline-block;


}
.card-title{
  padding-top: 2px;
  font-size: 1em;
}
.card-text{
  position: absolute;
  font-size: 0.8em;
  color: var(--game-info-subtext-color);
  left: 6px;
  right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;

}

.viewers-text{

  font-size: 0.8em;
  position: absolute;
  right: 4px;
  top: 4px;
  color: var(--game-info-subtext-color);

}
.started-text{

  font-size: 0.8em;
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: var(--game-info-subtext-color);
  opacity: 0;

}

