/*-------------------------------------------------------------------------Theme Color Variables-------------------------------------------------------------------------*/
:root{
    --background-color: #2b2b2b;
    --card-background-color: #3a3a3a;
    --card-highlight-color: #7c7c7c;
    --game-header-background-color: linear-gradient(180deg, #5a5a5a 0%, #474747 100%);
    --game-header-text-color:#dddddd;
    --game-info-text-color:#ffffff;
    --game-info-subtext-color: #b4b4b4;
    --badge-color: #7248b4;
}

#img-logo{
    filter: grayscale(100%) brightness(120%);
}