    html, body{
        font-family:'Roboto', sans-serif;
        color: white;
         /* width: 384px; */
         background-color: #2b2b2b; 
    }
    .container-fluid{
        margin: 2px;
    }
    .col-xs-3{
        padding: 2px;
    }
    .card{
        background-color: #3a3a3a;
        border-color: #3a3a3a;
        border-width: 0px;
        margin: 0;
        padding: 0;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.349);
    }
    .card-body{
        padding: 5px;
    }
    .card-title{
        padding: 0px;
        margin: 0;
        color: #ffffff;
    }
    .card-text{
        padding: 0px;
        margin: 0;
        font-size: 10px;
        color: #b4b4b4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-img-overlay{
        padding: 6px;

    }
    .card-img-overlay .card-text{
        text-shadow: 1px 1px 5px rgb(0, 0, 0), 1px 1px 8px rgb(0, 0, 0);
        color: #ffffff;
    }
    .row .card{
        transition: filter 0.2s ease;
        filter: brightness(100%) saturate(100%);
    }
    .row:hover .card{
        text-decoration: none;
        cursor:pointer;
        filter: brightness(140%) saturate(150%);
    }

